<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='svg_builder.js')}}"></script>
<script src="{{url_for('static',filename='index.js')}}"></script>

<title>Visual Analytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='w3.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<body class="w3-content" style="max-width:1300px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>Visual Analytics</h1>
    </div>
    <div class="w3-padding-64">
      <button type="button" class="w3-btn w3-btn-block w3-hover-blue-grey w3-padding-16" onclick="show_trial_login()">Start Test</button>
      <button type="button" class="w3-btn w3-btn-block w3-hover-teal w3-padding-16" onclick="show_training()">Training</button>
      <button type="button" class="w3-btn w3-btn-block w3-hover-dark-grey w3-padding-16" onclick="show_about()">About</button>
      <button type="button" class="w3-btn w3-btn-block w3-hover-brown w3-padding-16" onclick="show_admin_login()">Admin</button>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px" id="right-hand-container">

    <div class="w3-padding-64 w3-center hidden" id="trial-login-div">
      <h5>Trial Login</h5>

      <form class="w3-container">

        <label>Trial Code</label>
        <input class="w3-input" type="text">

      </form>

    </div>

    <div class="w3-padding-64 w3-center hidden" id="about-div">

      <h5>About</h5>
      <p>about about about about about</p>

    </div>

    <div class="w3-padding-64 w3-center hidden" id="admin-login-div">
      <h5>Admin Login</h5>

      <form class="w3-container">
        <label>Username</label>
        <input class="w3-input" type="text" id="emailInput" placeholder="Name">

        <label>Password</label>
        <input class="w3-input" type="text" id="passwordInput" placeholder="Password">
	<button type="button" onclick="admin_login()">Submit</button>
      </form>

    </div>

  </div>
</div>

<!-- Second Grid: Work & Resume -->
<div class="w3-row">

  <div class="w3-light-grey w3-center" style="min-height:800px" id="slider-panel">
    <div class="w3-padding-64">

      <h2>Example</h2>


    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  <p>Created by Elliott, Mitchell, Anthony, and Puskin</p>
</footer>

</body>
</html>
