.hover_group:hover {
    opacity: 0.5;
    fill: red;
}

.hover_group {
    fill: white;
}

.svg_color {
    fill: white;
    stroke:black;
}

.hidden {
    display: none;

}

.hide-scrollbar {
    overflow-y: scroll;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.button-placement {
  border: none;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-top: 15px;
}

.button-placement-for-practice {
  border: none;
  text-align: center;
  display: inline-block;
  position: static;
  margin-top: 15px;
}