.selected-class-1 {
    fill: green !important;
    opacity: 0.4;
}

.selected-class-2 {
    fill: red !important;
    opacity: 0.4;
}

.hover_group:hover {
    opacity: 0.5;
    fill: green;
}

.hover_group {
    fill: transparent;
    stroke: black;
    stroke-opacity:0.1;
}

.svg_color {
    fill: white;
    stroke:black;
    stroke-opacity: 0.4;
}

.hidden {
    display: none;
}

.hide-scrollbar {
    overflow-y: scroll;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.button-placement {
  border: none;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 15px;
}

.button-placement-2 {
  border: none;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-top: 15px;
}
.result-framing {
    margin-left: 80px;
    margin-right: 80px;
    border-top: 5px solid #334477;
    border-left: 5px solid #334477;
    border-right: 5px solid #334477;
    border-bottom: 15px solid #141b2f;
}